{% extends 'bases/base_main.html' %} {% load static %} {% block content %}

<br /><br />

<div class="pt-32pt">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div
      class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0"
    >
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <!-- <h2 class="mb-0">Dashboard</h2> -->

        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item">
            <a href="teacher_dashboard.html">teacher dashboard</a>
          </li>

          <li class="breadcrumb-item active">Add subject content</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<br />

<div class="container page__container">
  <div class="page-separator d-block">
    <div class="page-separator">
      <div class="page-separator__text">add topic</div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <form
        class="search-form search-form--dark d-lg-inline-flex mb-8pt mb-lg-0"
        action="discussions.html"
      >
        <input
          type="text"
          class="form-control w-lg-auto"
          placeholder="Search topics"
        />
        <button class="btn" type="submit">
          <i class="material-icons">search</i>
        </button>
      </form>
    </div>

    <button class="btn addTopicsButton bgClassess">add topics</button>
  </div>
</div>
<br />
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="row">
        <br /><br />
        <br />
        <br />
        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="pagination justify-content-start pagination-xsm m-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true" class="material-icons">chevron_left</span>
            <span>Prev</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Page 1">
            <span>1</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Page 2">
            <span>2</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span>Next</span>
            <span aria-hidden="true" class="material-icons">chevron_right</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br /><br />

<div class="container page__container">
  <div class="page-separator d-block">
    <div class="page-separator">
      <div class="page-separator__text">add Lessons</div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <form
        class="search-form search-form--dark d-lg-inline-flex mb-8pt mb-lg-0"
        action="discussions.html"
      >
        <input
          type="text"
          class="form-control w-lg-auto"
          placeholder="Search topics"
        />
        <button class="btn" type="submit">
          <i class="material-icons">search</i>
        </button>
      </form>
    </div>

    <button class="btn addTopicsButton bgClassess">add topics</button>
  </div>
</div>
<br />

<div class="container page-content">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="row">
        <br /><br />
        <br />
        <br />
        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="pagination justify-content-start pagination-xsm m-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true" class="material-icons">chevron_left</span>
            <span>Prev</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Page 1">
            <span>1</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Page 2">
            <span>2</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span>Next</span>
            <span aria-hidden="true" class="material-icons">chevron_right</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br /><br />

<div class="container page__container">
  <div class="page-separator d-block">
    <div class="page-separator">
      <div class="page-separator__text">add course material</div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <form
        class="search-form search-form--dark d-lg-inline-flex mb-8pt mb-lg-0"
        action="discussions.html"
      >
        <input
          type="text"
          class="form-control w-lg-auto"
          placeholder="Search topics"
        />
        <button class="btn" type="submit">
          <i class="material-icons">search</i>
        </button>
      </form>
    </div>

    <button class="btn addNewLessonButton bgClassess text-white">
      add topics
    </button>
  </div>
</div>
<br />

<div class="container page-content">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="row">
        <br /><br />
        <br />
        <br />
        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>

          <div class="card card-group-row__card card-sm">
            <div class="card-body d-flex align-items-center">
              <a
                href="student-take-quiz.html"
                class="avatar overlay overlay--primary avatar-4by3 mr-12pt"
              >
                <img
                  src="../assets/img/edify dp.jpg"
                  alt="Introduction to TypeScript"
                  class="avatar-img rounded"
                />
                <span class="overlay__content"></span>
              </a>
              <div class="flex mr-12pt">
                <a class="card-title" href="course_overview.html"
                  >Introduction to Etre</a
                >
                <div class="card-subtitle text-50">3 days ago</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="pagination justify-content-start pagination-xsm m-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true" class="material-icons">chevron_left</span>
            <span>Prev</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Page 1">
            <span>1</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Page 2">
            <span>2</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span>Next</span>
            <span aria-hidden="true" class="material-icons">chevron_right</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br /><br />

<!-- Start izModal for adding Topics -->
<div
  id="modalAddNewTopics"
  data-iziModal-fullscreen="true"
  data-izimodal-group="alerts"
  data-iziModal-title="TOPICS"
  data-iziModal-subtitle="Please add new topic to subject"
  data-iziModal-icon="icon-home"
>
  <div style="padding: 50px">
    <form>
      <div>
        <h4>Add New Topic</h4>
      </div>
      <div class="form-group row">
        <label for="firstname" class="col-4 col-form-label">Class Name</label>
        <div class="col-8">
          <input
            id="firstname"
            name="firstname"
            placeholder=""
            type="text"
            required="required"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Class</label>
        <div class="col-8">
          <select
            name="food_selector"
            data-placeholder="Class 4"
            required="required"
            class="custom-select"
          ></select>
        </div>
      </div>

      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Select Subject</label>
        <div class="col-8">
          <div class="">
            <div class="" onclick="showCheckboxes();">
              <select
                name=""
                id=""
                data-placeholder="French"
                class="custom-select"
              >
                <option value=""></option>
              </select>
              <!-- <div class="overSelect"></div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="notes" class="col-4 col-form-label">Notes:</label>
        <div class="col-8">
          <textarea
            id="text"
            name="text"
            placeholder=""
            type="text"
            required="required"
            class="form-control"
          ></textarea>
        </div>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-floating pulse btn-md"
          id="addClass"
          onclick="addNewTopics();"
        >
          add topic
        </button>
      </div>
    </form>
  </div>
</div>

<div
  id="modalAddLesson"
  data-iziModal-fullscreen="true"
  data-izimodal-group="alerts"
  data-iziModal-title="WELCOME TO EDIFY"
  data-iziModal-subtitle="Adding of Subjects"
  data-iziModal-icon="icon-home"
>
  <div style="padding: 50px">
    <form>
      <div>
        <h4>Add New Lesson</h4>
      </div>
      <div class="form-group row">
        <label for="firstname" class="col-4 col-form-label">Subject Name</label>
        <div class="col-8">
          <input
            id="firstname"
            name="firstname"
            placeholder=""
            type="text"
            required="required"
            class="form-control"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Select Subject</label>
        <div class="col-8">
          <div class="">
            <div class="" onclick="showCheckbox();">
              <select
                name=""
                id=""
                data-placeholder="Select Class"
                class="custom-select"
              >
                <option value=""></option>
              </select>
              <!-- <div class="overSelect"></div> -->
            </div>

            <div id="checkbox" class="custom-control custom-checkbox shadow">
              <label for="one">
                <input type="checkbox" class="checkBoxes" id="grade_1" />Grade 1
              </label>
              <label for="two">
                <input type="checkbox" class="checkBoxes" id="grade_2" />Grade 2
              </label>
              <label for="three">
                <input type="checkbox" class="checkBoxes" id="grade_3" />Grade 3
              </label>
              <label for="four">
                <input type="checkbox" class="checkBoxes" id="grade_4" />Grade 4
              </label>
              <label for="five">
                <input type="checkbox" class="checkBoxes" id="grade_5" />Grade 5
              </label>
              <label for="six">
                <input type="checkbox" class="checkBoxes" id="grade_6" />Grade 6
              </label>
              <label for="seven">
                <input type="checkbox" class="checkBoxes" id="grade_7" />Grade 7
              </label>
              <label for="eight">
                <input type="checkbox" class="checkBoxes" id="grade" />Grade 8
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="firstname" class="col-4 col-form-label"
          >Special Subject</label
        >
        <div class="col-8">
          <div class="form-group">
            <div class="custom-controls-stacked">
              <div class="custom-control custom-radio">
                <input
                  id="radioStacked1"
                  name="radio-stacked"
                  type="radio"
                  class="custom-control-input"
                  checked=""
                />
                <label for="radioStacked1" class="custom-control-label"
                  >Yes</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  id="radioStacked2"
                  name="radio-stacked"
                  type="radio"
                  class="custom-control-input"
                />
                <label for="radioStacked2" class="custom-control-label"
                  >No</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-floating pulse btn-md shadow"
          id="addSubjects"
          onclick="addSubject();"
        >
          add subject
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
